<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/main.js"></script>
    <script src="js/category.js"></script>
    <script src="js/blog.js"></script>
    <script>
        window.onload = function(){
            loadMenu();
            loadDanhMuc();
            loadBaiViet(0,'CONG');
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg headermain" id="menu">
    </nav>

    <div class="contentmain" style="padding-left: 15px; padding-right: 15px;">
        <img src="image/testonline_banner.jpg" class="imgbanner">
        <h3 class="lbbaiviet">BÀI VIẾT</h3>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-2" style="padding-right: 0px;">
                <h5 style="display: block;margin-bottom: 25px;">Chuyên mục</h5>
                <h6>Luyện thi</h6>
                <ul class="uldanhmuc" id="listdanhmuc">
                    <li><a href="">Listening</a></li>
                    <li><a href="">Speaking</a></li>
                    <li><a href="">Reading</a></li>
                    <li><a href="">Writting</a></li>
                </ul>
                <h6>Kỹ năng</h6>
                <ul class="uldanhmuc">
                    <li><a href="">Listening</a></li>
                    <li><a href="">Speaking</a></li>
                    <li><a href="">Reading</a></li>
                    <li><a href="">Writting</a></li>
                </ul>
            </div>
            <div class="col-sm-7" style="padding-left: 0px;">
                <div id="listbaiviet">
                    <!-- <div class="singlebaiviet row">
                        <div class="col-sm-4"><img src="" class="imgblogch"></div>
                        <div class="col-sm-8">
                            <h6>Casc phat a,</h6>
                            <span class="motabaiviet">oke</span>
                            <span class="thongtindang"><span class="ngaydangbv">6-4-1000</span> Bởi <span>Bùi hằng</span></span>
                        </div>
                    </div> -->
                </div>
                <div class="xemtatca">
                    <button id="btnxemthemblog" class="xemtatcabtn">Xem thêm <i class="fa fa-chevron-down"></i></button>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>Tìm kiếm phải viết</h6>
                <div class="divtimkiem">
                    <input onkeyup="loadBaiViet(0,'MOI')" class="inputsearchblog" id="searchblog" placeholder="Nhập từ khóa bạn muốn tìm">
                    <i class="fa fa-search"></i>
                </div>
                <img src="image/Learning_English_with.webp" style="width: 100%;margin-top: 30px;">
                <img src="image/download_extension.webp" style="width: 100%; margin-top: 20px;">
                <div class="sesctiondethi" style="margin-top: 20px;">
                    <img src="image/kn.png" style="width: 100%;">
                    <a href="" style="text-decoration: none; display: block;font-weight: 600;text-align: center;color: #000;">Chia sẻ kinh nghiệm và tài liệu tự học IELTS 8.0+</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>