<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/main.js"></script>
    <script src="js/account.js"></script>
    <script src="js/course.js"></script>
    <script src="js/exam.js"></script>
    <script src="js/lesson.js"></script>
    <script>
        window.onload = function(){
            loadMenu();
            loadThongTinDeThi();
            getAllLesson();
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg headermain" id="menu">
</nav>

<div class="contentmain" style="padding-left:10px;padding-right: 10px;background: #f8f9fa;padding-bottom: 100px;">
    <p class="tenbaithilb"><span id="tenbaithi">IELTS </span> <button class="btnthoat">Thoát</button></p>
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-10">
            <div class="sesctiondethi">
                <ul class="nav nav-tabs mb-3" id="ex1-listtab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1"  data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Tab 1</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
                    </li>
                </ul>
                <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
                        <!-- <div class="singcauhoi">
                            <span class="thutuch">1</span> <span class="titlech">ai ddawjt te cho dong song</span>
                            <span class="singctl"><input type="radio" name="dapanctl" id="dpa"> <label for="dpa"> A.duweew</label></span>
                            <span class="singctl"><input type="radio" name="dapanctl" id="dpa"> <label for="dpa"> A.duweew</label></span>
                        </div> -->
                        oke
                        <audio class="post-audio-item" controls>
                            <source src="https://study4.com/media/simulation_ielts/sim_0102.mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        Tab 2 content
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        Tab 3 content
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="sesctiondethi">
                <p>Thời gian còn lại:</p>
                <h5 id="thoigiancl">55:44</h5>
                <button onclick="nopBaiThi()" class="btn btn-outline-primary">Nộp bài thi</button>
                <span class="chuuy">Chú ý: bạn có thể click vào số thứ tự câu hỏi trong bài để đánh dấu review</span>
                <div id="ketqualam" style="display: none;">
                    <span class="dapandungs">Đáp án đúng: <span id="sodadung"></span></span>
                    <span class="dapansais">Đáp án sai: <span id="sodasai"></span></span>
                    <span class="dapanccs">Số câu chưa chọn: <span id="socc"></span></span>
                </div>
                <div class="listlesson" id="listlesson">
                    <div class="singlelesson">
                        <strong>Passage 1</strong>
                        <div>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                            <button class="socauhoi">1</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
</body>
<script>
    var counter = 0;
    var uls = new URL(document.URL)
    var limittime = uls.searchParams.get("limittime");
    var giay = limittime * 60;

    var looper = setInterval(function(){
        --giay;
        var phut = (giay / 60).toString().split(".")[0] + ' : ' +giay % 60;
        document.getElementById("thoigiancl").innerHTML = phut;
        if (giay == 0)
        {
            clearInterval(looper);
            toastr.warning("Hết giờ");
            nopBaiThi();
        }

    }, 1000);
</script>
</html>